.main-logo-dot {
    color: var(--clr11);
}

.main-logo {
    font-family: Eurofurence;
    font-weight: 400;
    font-size: 2.5em;

}

.main-logo:after {
    content: '.';
    color: var(--clr11);

}

.main-header .main-logo {
    margin-inline-start: 0.5em;

}