.main-footer-container {
    background-color: var(--clr9);
    text-align: center;
    border-top: 1px solid var(--clr6);
    /* padding: 80px; */
    padding: 45px;


}

.main-footer .main-logo{
    margin-bottom: 0.5em;
}

.footer-content {
    justify-content: center;
    flex-direction: column;
    font-size: 0.8125em;
    line-height: 1.5384;
    color: var(--clr7);
    margin-bottom: 2.9230em;
}

.footer-content>*:not(:last-child):after {
    content: '-';
    margin-inline: 0.5em;
}



.footer-content a {
    color: var(--clr5);
}

.footer-social-logo {
    justify-content: center;
    /* margin-bottom: 5em; */
}

.footer-social-logo svg {
    fill: var(--clr8);
    background-color: var(--clr2);
}

.main-footer .footer-social-logo>*:not(:last-child) {
    margin-inline-end: 1.25em;
}

.facebook-svg svg:hover {
    fill: #516FAD;
}

.twitter-svg svg:hover {
    fill: #1DA1F2;
}

.behance-svg svg:hover {
    fill: #131418;
}

.dribbble-svg svg:hover {
    fill: #ea4c89;
}


