/* MOBILE */
@media screen and (max-width:850px) {


    .main-header .menu-btn {
        display: flex;
        width: 75px;
        height: 75px;
        align-items: center;
        align-content: center;
    }


    .main-nav {
        position: absolute;
        flex-direction: column;
        top: 70px;
        width: 100%;
        border-inline-start: 1px solid var(--clr4);
        background-color: rgba(23, 23, 23, 0.712);
        font-size: 1.5em;
        transition: .5s;
        opacity: 1;
        left: 0;
        max-height: 0;
        overflow: hidden;
        justify-content: space-between;
        overflow: hidden;
        z-index: 10;

    }

    body.menu-open .main-nav {
        max-height: 100vh;
    }

    .main-screen {
        position: fixed;
        inset: 0;
        background-color: rgb(0 0 0 / 70%) ;
        pointer-events: none;
        opacity: 0;
        transition: opacity .6s;
        z-index: 0;

    }

    .main-nav li {
        padding: 1em;
        width: 100%;
        border-bottom: 1px solid var(--clr4);
    }

    .card {
        flex-direction: column;
        padding: 1em;
    }

    .card .card-image {
        margin: 0 0 1em;
        width: 100%;
    }

    .image-side {
        width: 100%;
    }


    .footer {
        text-align: center;
        justify-content: space-between;
    }

    .footer p {
        line-height: 2rem;
    }

    .main-header-container{
        position: fixed;
        width: 100%;
        left: 0;
        z-index: 1;
    }

}


/*MEDIUM */
@media screen and (min-width: 850px) {
    .menu-btn {
        display: none
    }

    html {
        font-size: 13px;
    }

    .main-nav a {
        height: 100px;
        width: 100px;
    }

    .footer-content {
        flex-direction: row;
    }
}

/* WIDE */
@media screen and (min-width:1255px) {

    .main-layout {
        max-width: 980px;
    }

    html {
        font-size: 16px;
    }
}