
/* Open Sana */
@font-face {
    font-family: 'Lato', sans-serif;
    src: url(/fonts/Lato/Lato-Regular.ttf);
}

/* Ubuntu */
@font-face {
    font-family: Eurofurence;
    src: url(/fonts/eurofurence/Eurofurence-regular.ttf);
}

/* Inconsalata */
@font-face {
    font-family: inconsolata;
    src: url(/fonts/Inconsolata/Inconsolata-Regular.ttf);
}