
.btn-round {
    align-self: flex-start;
    font-family: 'Lato', sans-serif;
    color: var(--clr4);
    background-color: transparent;
    border: 0.125em solid var(--clr4);
    border-radius: 2em;
    font-weight: 700;
    font-size: 1em;
    padding: 0 1.4em;
    line-height: 2.5em;
}

.btn-round:hover {
    cursor: pointer;
    color: var(--clr11);
    border-color: var(--clr11);
}

.btn-arrow {
    position: relative;
    transition: padding .4s;
}

.btn-arrow:hover {
    padding-inline-end: 2.6em;
}

.btn-arrow:hover::after {
    content: "→";
    position: absolute;
    right: 0.875em;
}

/* ///////// menu btn */


.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger {
    width: 40px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-16px);
  }
  .menu-btn__burger::after {
    transform: translateY(16px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-40px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }